---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro">
	<div class="space-y-6">
		<h2
			class="text-3xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600"
		>
			Welcome to my minimalist blog.
		</h2>
		<p class="text-lg leading-relaxed">
			This is a minimalist template built with Astro and Tailwind CSS. It
			features a persistent light and dark mode toggle, stored in
			localStorage.
		</p>

		<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
			<Card
				href="/gemini-pro-3"
				title="Why Gemini Pro 3 is Great"
				description="Discover the game-changing features of the latest Gemini model."
				zettelType="Literature"
			/>
		</div>
	</div>
</Layout>
