---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

// Fetch all markdown files from the 'zettle' directory
const posts = await Astro.glob("./zettle/*.md");
---

<Layout title="Welcome to Astro">
	<div class="space-y-6">
		<h2
			class="text-3xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600"
		>
			Welcome to my minimalist blog.
		</h2>
		<p class="text-lg leading-relaxed">
			This is a minimalist template built with Astro and Tailwind CSS. It
			features a persistent light and dark mode toggle, stored in
			localStorage.
		</p>

		<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8">
			{
				posts.map((post) => (
					<Card
						href={post.url ?? "#"}
						title={post.frontmatter.title}
						description={post.frontmatter.description}
						zettelType={post.frontmatter.zettelType}
						tags={post.frontmatter.tags}
					/>
				))
			}
		</div>
	</div>
</Layout>
